*{
    box-sizing: border-box;
    position: relative;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}