*{
    box-sizing: border-box;
    /* position: relative; */
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}